*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    margin: 0;
    height: 100vh;
  
}

header{
     position: static;
    background-color: #d4d4d4;
    height: 60px;


}
.logo{
    position: relative;
    font-family:'Tapestry', cursive;
    font-size: 42px;
    color: #EC7643;
    left: 0.2%;
    align-items: center;
  

}
.icone{
    display: flex;
    position: relative;
    top: -42px;
    left: 15%;
    border-radius: 10px;
    align-items: center;

}
.burguer{
    display: flex;
   position: relative;
    justify-content: center;
    color: #EC7643;
    top: -40px;
    left: 13.8%;
    align-items: center;
    
}

.search-box{
    position: absolute;
    left: 20%;
    transform: translate(0%, -205% );
    background-color: #f5f5f5;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
 
}
.search-txt{
    border: none;
    background: none;
    align-items: center;
    
}
.user{
    display: flex;
    position: absolute;
    top: 5px;
    left: 70%;
}
.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: flex;
    position: relative;
    top: 18px;
    left: 20vh;

}
.comuni{
    display: flex;
    position: relative;
    left: 93%;
    top: -150%;
}
.sidebar{
    display: grid;
    height: 600px;
    background-color: #151415;
    opacity: 1;
    width: 250px;
    background-image: url(./images.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    justify-content: center;
}
.HOME{
    color: #EC7643;
}
.sidebar>p{
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    color: #f5f5f5;
    margin: 40px 20px;
    left: 30px;
    padding:-5px;
}
.quadrado{
  
    height: 50px;
    box-shadow:2px 5px 5px #151415;
    position:relative;
    top: -25vh;
}
.meio{
    display: grid;
    position: absolute;
    align-items: center;
    height: 350px;
    top: 60px;
    left: 18.6%;
    width: 1100px;
    background-image:url(./ham.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
